<h2><%= @character.name %></h2><br>
<h3>Race: <%= @character.race.name %></h3>
<h3>Class: <%= @character.characterclasses.first.name %></h3>
<h3>Background: <%= @character.background.name %></h3>
<h3>Alignment: <%= @character.alignment.name%></h3>
<h3><%= link_to "Spells" %></h3>