<h2><%= @character.name %></h2>
<% if @character.party%>
    <h3>Party: <%= link_to @character.party.name, @character.party %></h3><br>
<% end %>
<h3>Race: <%= @character.race.name %></h3>
<h3>Class: <%= @character.characterclasses.first.name %></h3>
<h3>Background: <%= @character.background.name %></h3>
<h3>Alignment: <%= @character.alignment.name%></h3>
<% if @character.characterclasses.first.spells.length > 0 %>
    <h3>Spells</h3>
    <% @character.spells.each do |spell| %>
        <li><%= link_to spell.name, spell %></li>
    <% end %>
    <%= button_to "Edit Spells", '/characters/edit/spells', method: :get, params: {char_id: @character.id} %>
<% end %>
<%= button_to "Edit Character", edit_character_path(@character), :method => :get %>
<%= button_to "Delete Character", @character, method: "delete", params: {player_id: @player.id}, data: { confirm: 'Are you sure?' } %>

<% #button_to "Edit", edit_characterspell_path(@character.id), method: :get, params: {char_id: @character.id} %>