<h2>Player Name: <%= @player.name %></h2>

<h3>Characters</h3>
<% @player.characters.each do |char|%>
    <li><%= link_to char.name, char %>: <%=char.characterclasses.first.name %></li>
<% end %>

<%= button_to "Create New Character", new_character_path, :method => :get, params: {player_id: @player.id} %>

<%= button_to "Edit Profile", edit_player_path(@player), :method => :get %>
<%= button_to "Delete Profile", @player, method: "delete", data: { confirm: 'Are you sure?' } %> 